.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.inputsCont,.buttonsCont{
    display: flex;
    justify-content: center;
    gap: 40px;
}

@media screen and (max-width: 600px) {
    .inputsCont,.buttonsCont{
        flex-wrap: wrap;
    }
}
